<div class="main">
  <%= javascript_include_tag 'unslider_include', 'data-turbolinks-track' => true %>
  
  <div class="banner">
    <ul>
        <li><img src="https://dl.dropboxusercontent.com/s/03ojri30cqmoj5c/001-Broadway.png?dl=0" alt="Broadway" /></li>
        <li><img src="https://dl.dropboxusercontent.com/s/fkusy3wpwdtulpw/002-Bolt.png?dl=0" alt="Broadway" /></li>
        <li><img src="https://dl.dropboxusercontent.com/s/c13gpzc436z1dm3/003-Bass.png?dl=0" alt="Broadway" /></li>
    </ul>
</div>
  
  <div class="supporting"></div>
  
</div>

<%= javascript_include_tag 'unslider', 'data-turbolinks-track' => true %>
